body {
    background-image: url("images/leaves.jpg");
    background-size: 100%;
    background-repeat: repeat;
    font-family: 'Gloria Hallelujah', cursive;
    }

p {
  color: red;
  text-align: center;
}

